services:
  app:
    image: ghcr.io/{{ github_username }}/{{ project_name }}:latest
    container_name: "{{ project_name }}"
    restart: unless-stopped
    network_mode: host
    environment:
      PHX_SERVER: "true"
      PHX_HOST: "{{ project_url }}"
      PORT: "{{ app_port }}"
      SECRET_KEY_BASE: "{{ secret_key_base }}"
      TOKEN_SIGNING_SECRET: "{{ token_signing_secret }}"
      RELEASE_COOKIE: "{{ release_cookie }}"
      MAINTENANCE_MODE: "{{ maintenance_mode | string | lower }}"
      MAINTENANCE_BYPASS_SECRET: "{{ maintenance_bypass_secret }}"
      DATABASE_URL: "{{ database_url }}"
      STRIPE_API_KEY: "{{ stripe_api_key }}"
      STRIPE_WEBHOOK_SECRET: "{{ stripe_webhook_secret }}"
      HERE_API_KEY: "{{ here_api_key }}"
      IMGPROXY_PREFIX: "{{ imgproxy_prefix }}"
      IMGPROXY_KEY: "{{ imgproxy_key }}"
      IMGPROXY_SALT: "{{ imgproxy_salt }}"

  imgproxy:
    image: darthsim/imgproxy:v3
    restart: unless-stopped
    network_mode: host
    environment:
      IMGPROXY_KEY: "{{ imgproxy_key }}"
      IMGPROXY_SALT: "{{ imgproxy_salt }}"
      IMGPROXY_LOCAL_FILESYSTEM_ROOT: /images
    volumes:
      - /opt/{{ project_name }}/images:/images

  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    network_mode: host
    command: tunnel --no-autoupdate run
    environment:
      TUNNEL_TOKEN: "{{ cloudflare_tunnel_token }}"
